[Desktop Entry]
Version=1.0
Type=Application
Name=Downloads
Comment=
Exec=nemo /home/gajeet/Downloads
Icon=/home/gajeet/.icons/candy-icons/places/48/folder-download.svg
Path=
Terminal=false
StartupNotify=false
