[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=google-chrome-stable http://instagram.com
GenericName[en_IN]=
GenericName=
Icon=metacity
MimeType=
Name[en_IN]=Instagram
Name=Instagram
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
