[Desktop Entry]
Version=1.0
Type=Application
Name=Instagram
Comment=
Exec=firefox http://instagram.com
Icon=instagram
Path=
Terminal=false
StartupNotify=false
