[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=dolphin /mnt/Ajeet/SOFTWARE/
GenericName[en_IN]=
GenericName=
Icon=thunar-filemanager
MimeType=
Name[en_IN]=Softwares
Name=Softwares
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
