[Desktop Entry]
Version=1.0
Type=Application
Name=Softwares
Comment=
Exec=nemo /mnt/Ajeet/SOFTWARE/
Icon=/home/gajeet/.icons/candy-icons/preferences/scalable/beryl-settings.svg
Path=
Terminal=false
StartupNotify=false
