[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=dolphin /mnt/Ajeet/SONGS
GenericName[en_IN]=
GenericName=
Icon=web-google-play-music
MimeType=
Name[en_IN]=Songs
Name=Songs
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
