[Desktop Entry]
Version=1.0
Type=Application
Name=Songs
Comment=
Exec=nemo /mnt/Ajeet/SONGS
Icon=/home/gajeet/.icons/candy-icons/apps/scalable/org.gnome.music.svg
Path=
Terminal=false
StartupNotify=false
