[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=google-chrome-stable open.spotify.com
GenericName[en_IN]=
GenericName=
Icon=Spotify
MimeType=
Name[en_IN]=Spotify
Name=Spotify
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
