[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=dolphin /mnt/Ajeet/VIDEOS/
GenericName[en_IN]=
GenericName=
Icon=com.github.unrud.VideoDownloader
MimeType=
Name[en_IN]=Videos
Name=Videos
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
