#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=/opt/VSCode-linux-x64/code
GenericName[en_IN]=Text Editor
GenericName=Text Editor
Icon=vscode
MimeType=
Name[en_IN]=Vscode
Name=Vscode
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
