[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=dolphin /mnt/Ajeet/PHOTOS/Wallpapers/
GenericName[en_IN]=
GenericName=
Icon=org.deepin.flatdeb.deepin-image-viewer
MimeType=
Name[en_IN]=Wallpapers
Name=Wallpapers
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
