[Desktop Entry]
Version=1.0
Type=Application
Name=Whatsapp
Comment=
Exec=firefox http://web.whatsapp.com
Icon=/home/gajeet/.icons/candy-icons/apps/scalable/chrome-bgkodfmeijboinjdegggmkbkjfiagaan-Default.svg
Path=
Terminal=false
StartupNotify=false
