[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=google-chrome-stable http://web.whatsapp.com
GenericName[en_IN]=
GenericName=
Icon=whatsapp-desktop
MimeType=
Name[en_IN]=Whatsapp
Name=Whatsapp
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
